.drop-node-enter {
  transform: translateY(-100%)
}
.drop-node-enter-active {
  transform: translateY(0);
  transition: all 500ms ease-out;
}
.drop-node-exit {
  transform: translateY(0);
}
.drop-node-exit-active {
  transform: translateY(-100%);
  transition: all 500ms ease-out;
}

.drop-enter {
  opacity: 0;
}
.drop-enter-active {
  opacity: 1;
  transition: all 600ms ease-out;
}
.drop-exit {
  opacity: 1;
}
.drop-exit-active {
  opacity: 0;
  transition: all 600ms ease-out;
}

